.hero-image {
    background-image: url("images/aidan-hancock-8RU4OuA6Yug-unsplash.png");
    background-size: cover;
    background-position: center center;
}

.middle {
    background-color: black;
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top:50%;
    left:50%;

}
